<div class="details">
  <a class="link" [routerLink]="['/posts']">Go to Posts</a>
  <div *ngIf="post$ | async as post" class="post">
    <div class="col-1">
      <!-- <h1 class="id">{{ post.id }}</h1> -->
      <div class="post-content">
        <h2 class="title">{{ post.title }}</h2>
        <p class="body">{{ post.body }}</p>
      </div>
    </div>

    <div class="actions">
      @if (!showFormModal) {
      <button (click)="openPostForm()">Edit Post</button>
      }

      <button class="delete" (click)="openDeleteModal()">Delete Post</button>
    </div>

    @if (deleteModal) {

    <div class="delete">
      <p>Are you sure <br />you want to delete this post?</p>
      <div class="btns">
        <button (click)="closeDeleteModal()">Cancel</button>
        <button (click)="onDeleteModal(post.id)" class="delete">Delete</button>
      </div>
    </div>
    } @if (showFormModal) {
    <div class="form-div">
      <app-forms [post]="currentPost" (formSubmit)="handleFormEdit($event)" />
    </div>
    }
  </div>

  <div *ngIf="comments$ | async as comments" class="comment-div">
    <h1>Comments</h1>
    @for (comment of comments; track $index) {

    <div class="comment">
      <div class="user">
        <p class="name">{{ comment.name }}</p>
        <p class="email">{{ comment.email }}</p>
      </div>
      <p>{{ comment.body }}</p>
    </div>
    }
  </div>
</div>
