@import "../../../styleSheet/mixins";
@import "../../../styleSheet/variables";

.details {
  width: 100%;
  padding: 2.4rem;
  @include flex-layout(column, start, center, 2rem);

  .link {
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
    color: $col-100;
    padding: 1rem;
    border-radius: 2rem;
    background-color: $col-500;
    cursor: pointer;
    margin: 5rem 0;

    &:link,
    &:active {
      color: $col-300;
    }
  }
  .post {
    @include flex-layout(column, center, center, 2rem);
    position: relative;
    width: 100%;

    .col-1 {
      @include flex-layout(row, start, center, 2rem);
      width: 100%;

      .id {
        @include flex-layout(column, center, center, 2rem);
        @include card(4.5rem, 4.5rem, 50%);
        background-color: $col-500;
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
      }

      .post-content {
        @include flex-layout(column, start, center, 2rem);
        background-color: $col-200;
        padding: 3rem;
        border-radius: 2rem;
        .title {
          font-size: 3.5rem;

          font-weight: bold;
        }

        .body {
          font-size: 2.5rem;
          font-style: italic;
        }
      }
    }
    .actions {
      @include flex-layout(row, center, center, 2rem);
      padding: 1rem;
      border-radius: 2rem;
      cursor: pointer;
      width: 100%;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: darken($col-400, 10%);
      }
      &:active {
        background-color: lighten($col-400, 10%);
      }
      &:focus {
        outline: none;
      }

      button {
        width: 30%;
        padding: 1rem 2rem;
        font-size: 2rem;
        font-weight: bold;
        background-color: $col-500;
        color: $col-300;
        border: none;
        border-radius: 2rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        &:hover {
          background-color: darken($col-600, 10%);
        }
        &:active {
          background-color: lighten($col-600, 10%);
        }
        &:focus {
          outline: none;
        }

        &.delete {
          background-color: rgb(221, 73, 14);
          color: #fff;
          text-align: center;
        }
      }
    }

    .delete {
      background-color: $col-200;
      color: $col-300;
      font-size: 2rem;
      @include flex-layout(column, start, center, 2rem);
      border-radius: 2rem;
      padding: 2.4rem;

      .btns {
        width: 100%;
        @include flex-layout(row, center, center, 2rem);

        button {
          font-size: 2rem;
          font-weight: bold;
          padding: 1rem;
          border-radius: 1rem;
          border: none;

          &.delete {
            background-color: $col-500;
            color: $col-300;

            &:hover {
              background-color: $col-600;
            }
          }
        }
      }
      // position: absolute;
    }

    .form-div {
      position: absolute;
      bottom: -100px;
      width: 100%;
    }
  }
  .comment-div {
    @include flex-layout(column, start, center, 3rem);
    background-color: $col-200;
    padding: 3rem;
    border-radius: 2rem;
    width: 100%;

    h1 {
      font-size: 3rem;
    }

    .comment {
      width: 100%;
      @include flex-layout(column, start, center, 2rem);
      background-color: $col-300;
      color: $col-100;
      padding: 3rem;
      border-radius: 2rem;

      .user {
        @include flex-layout(column, start, center, 0.4rem);

        .name,
        .email {
          font-size: 2.5rem;
          font-weight: bold;
        }
      }

      p {
        font-size: 2rem;
        font-style: italic;
      }
    }
  }
}

@media (min-width: 768px) {
  .details {
    max-width: 768px;
    margin: auto;
  }
}
