@import "../../../styleSheet/mixins";
@import "../../../styleSheet/variables";

.details {
  padding: 2rem;
  background-color: $col-100;
  color: $col-300;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba($col-200, 0.3);
  max-width: 800px;
  margin: 0 auto;

  h1,
  h2 {
    color: $col-400;
    margin-bottom: 1rem;
    text-align: center;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
  }

  button {
    background-color: $col-400;
    color: $col-100;
    border: none;
    padding: 0.8rem 1.6rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
    margin: 1rem auto;
    display: block;

    &:hover {
      background-color: $col-500;
      transform: scale(1.02);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 5px rgba($col-400, 0.4);
    }

    &:disabled {
      background-color: $col-200;
      cursor: not-allowed;
    }
  }

  .form-modal {
    background-color: $col-100;
    color: $col-300;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba($col-200, 0.3);
    margin: 2rem auto;
    width: 100%;
    max-width: 600px;

    h2 {
      color: $col-400;
      margin-bottom: 1rem;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;

      div {
        margin-bottom: 1rem;

        label {
          display: block;
          font-weight: bold;
          margin-bottom: 0.5rem;
          color: $col-300;
        }

        input,
        textarea {
          width: 100%;
          padding: 0.8rem;
          border: 1px solid $col-200;
          border-radius: 4px;
          background-color: $col-200;
          color: $col-300;
          font-size: 1rem;
          box-shadow: 0 1px 2px rgba($col-200, 0.2);

          &:focus {
            border-color: $col-400;
            outline: none;
            box-shadow: 0 0 5px rgba($col-400, 0.4);
          }

          &::placeholder {
            color: $col-300;
          }
        }

        textarea {
          resize: vertical;
          min-height: 150px;
        }

        small {
          color: $col-500;
          font-size: 0.875rem;
          margin-top: 0.5rem;
          display: block;
        }
      }

      button {
        background-color: $col-400;
        color: $col-100;
        border: none;
        padding: 0.8rem;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1rem;
        font-weight: bold;
        transition: background-color 0.3s, transform 0.2s;
        width: 100%; // Full width for button

        &:hover {
          background-color: $col-500;
          transform: scale(1.02);
        }

        &:disabled {
          background-color: $col-200;
          cursor: not-allowed;
        }
      }
    }
  }

  .comments {
    margin-top: 2rem;

    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
      text-align: center;
    }

    p {
      font-size: 1rem;
      line-height: 1.4;
      margin-bottom: 0.5rem;
      padding: 0.5rem;
      background-color: $col-200;
      border-radius: 4px;
      box-shadow: 0 1px 2px rgba($col-200, 0.2);
    }
  }
}
