@import "../../../styleSheet/mixins";

.pagination {
  @include flex-layout(row, center, center, 2rem);
  width: 100%;

  button {
    @include card(10rem, 4.5rem, 1.5rem);
    background-color: $col-500;
    @include flex-layout(row, center, center, 0);
    color: $col-300;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: none;

    &:hover {
      background-color: $col-600;
    }

    &:disabled {
      background-color: $col-200;
      color: $col-100;
      cursor: not-allowed;
    }
  }

  span {
    display: block;
    text-align: center;
    font-size: 1.3rem;
  }
}
